//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 03 13:42:04 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "Switches<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "Switches<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "Switches<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "Switches<3>" LOCATE = SITE "L5" LEVEL 1;
COMP "TMDS_Out_N<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "TMDS_Out_N<1>" LOCATE = SITE "A6" LEVEL 1;
COMP "TMDS_Out_N<2>" LOCATE = SITE "A5" LEVEL 1;
COMP "TMDS_Out_N<3>" LOCATE = SITE "A9" LEVEL 1;
COMP "TMDS_Out_P<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "TMDS_Out_P<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "TMDS_Out_P<2>" LOCATE = SITE "B5" LEVEL 1;
COMP "TMDS_Out_P<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "FSMC_NE1_NCE2" LOCATE = SITE "A2" LEVEL 1;
COMP "Clk32" LOCATE = SITE "J4" LEVEL 1;
COMP "Clk50" LOCATE = SITE "K3" LEVEL 1;
COMP "FSMC_NBL<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "FSMC_NBL<1>" LOCATE = SITE "F5" LEVEL 1;
COMP "FSMC_A<20>" LOCATE = SITE "D3" LEVEL 1;
COMP "FSMC_A<21>" LOCATE = SITE "C2" LEVEL 1;
COMP "FSMC_A<22>" LOCATE = SITE "E3" LEVEL 1;
COMP "FSMC_A<16>" LOCATE = SITE "A10" LEVEL 1;
COMP "FSMC_A<17>" LOCATE = SITE "D9" LEVEL 1;
COMP "FSMC_A<18>" LOCATE = SITE "E8" LEVEL 1;
COMP "FSMC_A<19>" LOCATE = SITE "B2" LEVEL 1;
COMP "FSMC_D<10>" LOCATE = SITE "E12" LEVEL 1;
COMP "FSMC_D<11>" LOCATE = SITE "D12" LEVEL 1;
COMP "FSMC_D<12>" LOCATE = SITE "D14" LEVEL 1;
COMP "FSMC_D<13>" LOCATE = SITE "E10" LEVEL 1;
COMP "FSMC_D<14>" LOCATE = SITE "C10" LEVEL 1;
COMP "FSMC_D<15>" LOCATE = SITE "B10" LEVEL 1;
COMP "FSMC_NWAIT" LOCATE = SITE "G5" LEVEL 1;
COMP "FSMC_D<0>" LOCATE = SITE "D8" LEVEL 1;
COMP "FSMC_D<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "FSMC_D<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "FSMC_D<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "FSMC_D<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "FSMC_D<5>" LOCATE = SITE "G12" LEVEL 1;
COMP "FSMC_D<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "FSMC_D<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "FSMC_D<8>" LOCATE = SITE "F13" LEVEL 1;
COMP "FSMC_D<9>" LOCATE = SITE "E13" LEVEL 1;
COMP "FSMC_CLK" LOCATE = SITE "H3" LEVEL 1;
COMP "FSMC_NOE" LOCATE = SITE "E6" LEVEL 1;
COMP "FSMC_NWE" LOCATE = SITE "A3" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "M9" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "T8" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "N8" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "P7" LEVEL 1;
COMP "FSMC_NL" LOCATE = SITE "B3" LEVEL 1;
NET "Clk32_IBUFG" PERIOD = 31.25 ns HIGH 50%;
NET "Clk50_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

