CONFIG VCCAUX = 3.3;

# Clocks
NET "Clk50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
NET "Clk32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3

# LEDs
NET "Leds<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "Leds<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

# DVI-D interface
#J3
#NET "TMDS_Out_P(0)"  LOC = "C13" | IOSTANDARD = TMDS_33; # Blue
#NET "TMDS_Out_N(0)"  LOC = "A13" | IOSTANDARD = TMDS_33;
#NET "TMDS_Out_P(1)"  LOC = "B12" | IOSTANDARD = TMDS_33; # Red
#NET "TMDS_Out_N(1)"  LOC = "A12" | IOSTANDARD = TMDS_33;
#NET "TMDS_Out_P(2)"  LOC = "C11" | IOSTANDARD = TMDS_33; # Green
#NET "TMDS_Out_N(2)"  LOC = "A11" | IOSTANDARD = TMDS_33;
#NET "TMDS_Out_P(3)"  LOC = "B14" | IOSTANDARD = TMDS_33; # Clock
#NET "TMDS_Out_N(3)"  LOC = "A14" | IOSTANDARD = TMDS_33;

#J2
NET "TMDS_Out_P(0)"  LOC = "C7" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Blue
NET "TMDS_Out_N(0)"  LOC = "A7" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_Out_P(1)"  LOC = "B6" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Red
NET "TMDS_Out_N(1)"  LOC = "A6" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_Out_P(2)"  LOC = "B5" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Green
NET "TMDS_Out_N(2)"  LOC = "A5" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_Out_P(3)"  LOC = "C9" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Clock
NET "TMDS_Out_N(3)"  LOC = "A9" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;

# DIP Switches
NET "Switches(0)"    LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
NET "Switches(1)"    LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
NET "Switches(2)"    LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
NET "Switches(3)"    LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

# Static Memory Interface
#                                               STM32F4 - m6 - Spartan6
NET "FSMC_D(0)"      LOC="D8" | IOSTANDARD=LVTTL; #PD14 - A2 - D8
NET "FSMC_D(1)"      LOC="C8" | IOSTANDARD=LVTTL; #PD15 - A1 - C8
NET "FSMC_D(2)"      LOC="C6" | IOSTANDARD=LVTTL; #PD0  - D1 - C6
NET "FSMC_D(3)"      LOC="C5" | IOSTANDARD=LVTTL; #PD1  - D3 - C5
NET "FSMC_D(4)"      LOC="G14"| IOSTANDARD=LVTTL; #PE7  - B9 - G14
NET "FSMC_D(5)"      LOC="G12"| IOSTANDARD=LVTTL; #PE8  - B8 - G12
NET "FSMC_D(6)"      LOC="F14"| IOSTANDARD=LVTTL; #PE9  - B7 - F14
NET "FSMC_D(7)"      LOC="F12"| IOSTANDARD=LVTTL; #PE10 - B6 - F12
NET "FSMC_D(8)"      LOC="F13"| IOSTANDARD=LVTTL; #PE11 - B5 - F13
NET "FSMC_D(9)"      LOC="E13"| IOSTANDARD=LVTTL; #PE12 - B4 - E13
NET "FSMC_D(10)"     LOC="E12"| IOSTANDARD=LVTTL; #PE13 - B3 - E12
NET "FSMC_D(11)"     LOC="D12"| IOSTANDARD=LVTTL; #PE14 - B2 - D12
NET "FSMC_D(12)"     LOC="D14"| IOSTANDARD=LVTTL; #PE15 - B1 - D14
NET "FSMC_D(13)"     LOC="E10"| IOSTANDARD=LVTTL; #PD10 - A8 - E10
NET "FSMC_D(14)"     LOC="C10"| IOSTANDARD=LVTTL; #PD10 - A7 - C10
NET "FSMC_D(15)"     LOC="B10"| IOSTANDARD=LVTTL; #PD10 - A6 - B10
NET "FSMC_A(16)"     LOC="A10"| IOSTANDARD=LVTTL; #PD11 - A5 - A10
NET "FSMC_A(17)"     LOC="D9" | IOSTANDARD=LVTTL; #PD12 - A4 - D9
NET "FSMC_A(18)"     LOC="E8" | IOSTANDARD=LVTTL; #PD13 - A3 - E8
NET "FSMC_A(19)"     LOC="B2" | IOSTANDARD=LVTTL; #PE3  - E6 - B2
NET "FSMC_A(20)"     LOC="D3" | IOSTANDARD=LVTTL; #PE4  - E9 - D3
NET "FSMC_A(21)"     LOC="C2" | IOSTANDARD=LVTTL; #PE5  - E8 - C2
NET "FSMC_A(22)"     LOC="E3" | IOSTANDARD=LVTTL; #PE6  - E11- E3

NET "FSMC_NOE"       LOC="E6" | IOSTANDARD=LVTTL; #PD4  - D2 - E6
NET "FSMC_NWE"       LOC="A3" | IOSTANDARD=LVTTL; #PD5  - E3 - A3
NET "FSMC_NWAIT"     LOC="G5" | IOSTANDARD=LVTTL; #PD6  - E2 - G5
NET "FSMC_NE1_NCE2"  LOC="A2" | IOSTANDARD=LVTTL; #PD7  - E5 - A2
NET "FSMC_NL"        LOC="B3" | IOSTANDARD=LVTTL; #PB7  - E4 - B3



