CONFIG VCCAUX = 3.3;

#NET "CLK50"    LOC = "K3" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;
NET "CLK32" PERIOD = 31.25 ns | LOC = "J4";


# DVI-D interface
#J3
#NET "TMDS_out_P(0)"  LOC = "C13" | IOSTANDARD = TMDS_33; # Blue
#NET "TMDS_out_N(0)"  LOC = "A13" | IOSTANDARD = TMDS_33;
#NET "TMDS_out_P(1)"  LOC = "B12" | IOSTANDARD = TMDS_33; # Red
#NET "TMDS_out_N(1)"  LOC = "A12" | IOSTANDARD = TMDS_33;
#NET "TMDS_out_P(2)"  LOC = "C11" | IOSTANDARD = TMDS_33; # Green
#NET "TMDS_out_N(2)"  LOC = "A11" | IOSTANDARD = TMDS_33;
#NET "TMDS_out_P(3)"  LOC = "B14" | IOSTANDARD = TMDS_33; # Clock
#NET "TMDS_out_N(3)"  LOC = "A14" | IOSTANDARD = TMDS_33;

#J2
NET "TMDS_out_P(0)"  LOC = "C7" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Blue
NET "TMDS_out_N(0)"  LOC = "A7" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_out_P(1)"  LOC = "B6" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Red
NET "TMDS_out_N(1)"  LOC = "A6" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_out_P(2)"  LOC = "B5" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Green
NET "TMDS_out_N(2)"  LOC = "A5" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;
NET "TMDS_out_P(3)"  LOC = "C9" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST; # Clock
NET "TMDS_out_N(3)"  LOC = "A9" | IOSTANDARD = TMDS_33 | DRIVE=24 | SLEW=FAST;


NET leds(0)         	LOC="P11" | IOSTANDARD=LVTTL;
NET leds(1)         	LOC="N9" | IOSTANDARD=LVTTL; 
#NET leds(2)         	LOC="M9" | IOSTANDARD=LVTTL;
#NET leds(3)         	LOC="P9" | IOSTANDARD=LVTTL; 


NET btns(0)         	LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
NET btns(1)         	LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
NET btns(2)         	LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
NET btns(3)          LOC="L5" | IOSTANDARD=LVTTL | PULLUP;